rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leagues/{week}/players/{uid} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.keys().hasOnly(['name', 'xp', 'level'])
        && request.resource.data.name is string
        && request.resource.data.name.size() >= 1
        && request.resource.data.name.size() <= 16
        && request.resource.data.xp is int
        && request.resource.data.xp >= 0
        && request.resource.data.xp <= 20000
        && request.resource.data.level is string
        && request.resource.data.level.size() <= 2;
      allow delete: if false;
    }
  }
}
